/* reset code and common starts here  */
:root{
    --color1: #06727a;
    --color2: #1F2833;
    --color3: #C5C6C7;
    --color4: #3fc9c0;
    --color5: #367774;
    --color6: rgb(196, 131, 11);
    --star-btn: orange;
    --padding: 0.5rem;
    --transition: all 0.3s;
    --border-radius: 0.6rem;
    --box-shadow: 0.1rem 0.2rem 0.8rem rgba(167, 167, 163, 0.5);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 255, 255);
}
.my-flexx {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.my-flexx-column{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.my-flexx-test {
    display:flex;
    justify-content: left;
    align-items: flex-start;
}
nav{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.btn{
    border: none;
    padding: 3px;
}
.card{
    width: 100%;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: var(--transition);
}
.card:hover{
    box-shadow: 0.1rem 0.2rem 0.8rem rgba(65, 65, 64, 0.5);
    transition: var(--transition);
    transform:scale(1.02);
}
.card-row{
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    transition: var(--transition);
}
.card-col{
    width: 100%;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: var(--transition);
}
.card-contact{
    width: 100%;
    box-shadow: 0.1rem 0.2rem 0.1rem rgba(199, 199, 197, 0.5);;
    border-radius: 10px;
    transition: var(--transition);
}
.text-align-center{
    text-align: center;
}

/* reset code and common ends here  */

/* nav bar starts */
/* nav upper starts */
/* menu-bar starts*/
#menu__bar{ 
    display: none;
    background-color: rgb(59, 26, 62);
    min-width: 450px;
    font-size: 30px;
    color: var(--color3);
    margin: 0px;
    padding: 0px;
}
#menu__bar:hover{
    color: var(--color4)
}
/* menu-bar ends*/

.hidden{
    display: block;
}

.cart-and-profile{
    gap: 50px;
}
.cart-profile-gap{
    gap: 0px;
}

.nav-upper{
    gap: 0px;
    /* background-color: var(--color1); */
    background-color: rgb(30, 29, 27);
    position: fixed;
    width: 100%;
    z-index: 999;
}
.upper__list a{
    color: rgb(255, 253, 253);
    font-size: 18px;
    display: inline-block;
}
.upper__list a:hover{
    color: var(--color4);
    transform: scale(1.2); 
    transition: var(--transition);
    cursor:pointer
}
.nav-upper-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 0;
}
.myprofile{
    width: 30px;
    height: 30px;
    /* margin-top: 4px; */
    border-radius: 50px;
    border: 2px solid white;

    /* animation */
    animation-name: my_profile;
    animation-duration: 5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;   
    position: relative;
}
.myprofile:hover{
    border: 2px solid var(--color4);
    transform: scale(1.2); 
    margin-top: 5px;
    cursor:pointer
}
@keyframes my_profile{       
    0%{
        border: 2px solid var(--color4);
        .myprofile:hover{
            animation-duration: 0s;
        }
    }
    25%{
        border: 2px solid var(--color6);
        .myprofile:hover{
            animation-duration: 0s;
        }
    }
    50%{
        border: 2px solid var(--color4);
        .myprofile:hover{
            animation-duration: 0s;
        }
    }
    75%{
        border: 2px solid var(--color6);
        .myprofile:hover{
            animation-duration: 0s;
        }
    }
    100%{
        border: 2px solid rgb(238, 83, 83);
        .myprofile:hover{
            animation-duration: 0s;
        }
    }
}
/* nav upper ends */

/* nav lower starts  */
.nav-lower{
    background-color: var(--color4);
    position: fixed;
    width: 100%;
    height: auto;
    /* margin-top: 68px; */
    z-index: 998;
    gap: 20px;
}
.nav-lower-list{
   width : 2800px;
}
.lower__list1 {
    font-size: 50px;
    /* color: rgb(137, 135, 135); */
    color: var(--color4);
}
.lower__list1:hover{
    /* color: rgb(196, 131, 11); */
    color: var(--color6);
}
.lower__list2{
    font-size: 18px;
    /* color: var(--color4); */
    color: rgb(193, 193, 193);
}
.lower__list2:hover{
    color:white;
}
/* nav lower ends  */
/* nav bar ends */

.head{
    height: 50vh;
    width: 100%;
    /* margin-top: 10vh; */
}
.banner{
    width: 100%;
    height: 50vh;
    background-image: url(./resources/banner3.jpg);
    background-size: cover;
    background-position: 100%;          /* this made banner responsive  */
    background-repeat: no-repeat;
}
.details{
    padding: 50px;
    flex-direction: column;
    row-gap: 35px;
}
.sale{
    margin-top: 30px;
    font-family:cursive;
    width: 820px;
    font-size: 60px;
    color: #f44720;
}
.features{
    gap: 6rem;
    background-attachment: fixed;
}
.txt{
    font-size: 15px;
}
.feature-icon{
    font-size: 65px;
}
.article-item{
    text-align: center;
    background-color: bisque;
    border-radius: 30px;
    width: 20vh;
    Height: 15vh;
    flex-direction: column;
}
.article-item:hover{
    background-color: var(--color4);
    transition: all 1.5s;
    transition-timing-function: both;
    .feature-icon{
        color: white;
    }
    .txt{
        color: white;
    }
}

.index-main{
    width: 100%;
    min-height: 90vh;
    padding: 4rem 0;
    padding-bottom: 20vh;
}
.register-main{
    width: 100%;
    min-height: 82vh;
    padding: 4rem 0;
    padding-bottom: 20vh;
    /* background-color: #a0a2a3; */
    width: 100%;
    height: auto;
    margin-top: -3vh;
    margin-bottom: 0vh;
    padding: 10vh;
}
.login-main{
    width: 100%;
    min-height: 90vh;
    padding: 4rem 0;
    padding-bottom: 20vh;
}
.contact-main{
    width: 100%;
    min-height: 72vh;
    padding: 4rem 0;
    padding-bottom: 12vh;
    /* background-color: #f44720; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}
.index-main-section{
    gap: -30vh;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-button{
    width: 25px;
    height: 25px;
    padding: 5x;

    border-width: 0.01px 0.01px 0.01px 0px;
    border-style: solid;
}
.pagination-button:first-child{  
    border-width: 0.01px 0.01px 0.01px 0.01px;
    border-style: solid;
}

/* product.html starts */
.product-main{
    /* background-color: #a0a2a3; */
    width: 100%;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 1vh;
    padding: 10vh;
}
.product-main-desc{
    /* background-color: #a0a2a3; */
    width: 100%;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 14.9vh;
    padding: 10vh;
}

.profile-main{
    /* background-color: #a0a2a3; */
    width: 100%;
    height: auto;
    margin-top: 9vh;
    margin-bottom: 7vh;
    padding: 10vh;
}
.log-main{
    /* background-color: #a0a2a3; */
    width: 100%;
    /* height: 100vh; */
    /* margin-top: 4vh; */
    /* padding: 10vh; */
}
.product-section{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-left{
    flex: 1;
}
.product-left-image {
    max-width: 100%;    /* Limit the image width to its container */
    height: auto;       /* Maintain the aspect ratio */
}
.product-right{
    flex:1;
    flex-direction: column;
    padding: 10vh;
}
.product-right-description{
    text-align: justify;
}
.product-right-btn{   
    color: white;
    background-color: var(--star-btn);
    font-size: 18px;
    width: 100%;
    padding: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
 }
 .product-right-btn:hover{   
     color: rgb(53, 53, 55);
  }

    
/* product.html ends */

/* main section starts */
.side-bar{
    flex: 1;       /* for column divisions  */
    flex-direction: column;
    /* background-color: rgb(89, 0, 255); */
    width: 100%;
    gap: 1.5vh;
    align-self: flex-start;    /* it takes the colum item to the begining of alloted column space  */
    padding-top: 10vh;
    padding-right: -10vh;
}
.listed-items{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section-title{
    margin-bottom: 10px;
}
.content-side{
    /* background-color: #a0a2a3; */
    flex: 3;       /* for column divisions  */
    width: 100%;
    height: auto;
    margin-right: 90px;
}

.sort select{
    border: 1.5px solid rgb(201, 201, 201);
    border-radius: 10px;
    width: 15vh;
    padding: 0.55vh;
}
.search .searchinput{
    width: 20vh;
    height: 3.4vh;
    padding: 0.55vh;
    border-radius: 50px;
    border: 1.5px solid rgb(201, 201, 201);
}
.search .btn{
    margin-left: -0.7vh;
    padding: 0.55vh;
    border: 0.5px solid;
}

/* product section starts */

/* badge starts */
.products-item{
    position: relative;
}
.badge{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    background-color: rgb(9, 9, 9);
    color: white;
    border-radius: 10px;
    padding: 5px 6px;
    font-size: 13px;
    text-align: center;
}
.badge:hover{
    transform: scale(1.08);
    color: rgb(246, 176, 45);
    cursor: pointer;
}
.line{
    color: white;
}

/* badge ends */

.description{
    text-align: center;
    color: #a0a2a3;
    margin: 3px;
}

.product-btn{   
   color: white;
   background-color: var(--color4);
   font-size: 18px;
   width: 100%;
   padding: 15px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   cursor: pointer;
}
.product-btn:hover{   
    color: rgb(53, 53, 55);
 }

.products{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    border-radius: 20px;
}

.products-item{
    background-color: white;
}

.product-image {
    max-width: 100%; /* Limit the image width to its container */
    height: 100%; /* Maintain the aspect ratio */
    /* margin: 10px 10px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.stars{
    font-size: 22px;
    justify-content: center;
    gap : 10px;
    margin: 10px;
}
.checked{
    color: var(--star-btn);
}
/* product section ends  */
/* main section ends  */

/* cart section starts  */
.cart-whole{
    padding: 3rem;
    gap: 3rem;
}
.cart-left{
    flex: 1;
    gap: 1rem;
}
.cart{
    /* color: var(--color4); */
    padding: 10px;
}
.shopping-cart-sec2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shope-more-btn{
    padding: 6px;
}
.cart-item{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.cart-item-check{
    flex: 0.01;
}
.cart-item-image{
    flex: 0.4;
    width: 20vh;
    height: 20vh;
}
.cart-item-desc{
    flex: 0.4;
    padding-left: 10px;
}
.cart-item-action{
    flex: 0.1;
    gap: 10px;
}
.trash-button{
    padding: 8px;
    font-size: 17px;
    /* color: red; */
}
.action-down{
    gap: 8px;
}
.cart-item{
    height: 100%;
}
.cart-img{
    width: 100%;
    height: auto;
}
.cart-right{
    flex:1;
    gap: 25px;
}

/* cart right starts */
.payment-summary{
    padding: 20px;
    gap: 20px;
}
.pay-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
.PayNow{
    background-color: #e2dfde;
    max-width: 100%;
    height: auto;
    margin-top: -17px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.pay-now-btn{
    font-size: 16px;
    max-width: 100%;
    padding: 8px;
    height: auto;
    background-color: #e2dfde;
    cursor: pointer;
}
.payment-method{
    padding: 10px;
    gap: 10px;
}
.method-card-logo{
    font-size: 50px;
}
#logo:hover{
    transform: scale(1.1);
    transition: var(--transition);
}
/* cart right endss */
/* cart section ends  */

/* profile starts here */
.user-profile{
    width: 40vh;
    height: auto;
    /* gap: 3vh; */
}

.profile-card{
    padding: 3vh;
    gap: 2vh;
}
.profile-section-img{
    border: 2px solid;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    cursor: pointer;
}
.profile-desc{
    text-align: center;
}
.user-desc{
    margin: -8px;
}
.icon-down{
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}
.icon-down:hover{
    color: rgb(0, 136, 255);
}
/* profile ends here */


/* registration starts */
.registration-card{
    margin-top: 100px;
    width: 450px;
    height: 600px;
    padding: 15px;
}
.contact-card{
    margin-top: 100px;
    width: 450px;
    height: 600px;
    padding: 15px;
}
.login-card{
    width: 450px;
    height: 330px;
}
.sign-in{
    margin-top: -1.5vh;
}

.reg-fill-up{
    /* background-color: #176c68; */
    width: 410px;
}
.contact-fill-up{
    /* background-color: #176c68; */
    width: 410px;
}
.fill-div{
    margin-bottom: 12px;
}
.contact-fill-div{
    margin-bottom: 12px;
}

.txt-size{
    font-size: 13px;
}

.send-btn{
    width: 400px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(6, 180, 6);
    color: white;
    margin-top: 15px;
    cursor: pointer;
}
.signup-btn{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(6, 180, 6);
    color: white;
    margin-top: 15px;
    cursor: pointer;
}
.signup-btn:hover{
    background-color: rgb(5, 171, 5);
    color: blanchedalmond;
}

.sign-down-text{
    text-align: justify;
}

.text-about-signup{
    margin-top: -25px;
    width: 408px;
}

.my-account{
    color: rgb(0, 145, 255);
}
.my-account:hover{
    color: rgb(0, 0, 255);
}
.input-text-field{
    font-size: 14px;
}
.input-text-contact{
    font-size: 14px;
}

.reg-top{
    border-bottom: 0.1px solid rgb(203, 203, 203);
    width: 450px;
    padding-bottom: 20px;
}
.contact-top{
    width: 450px;
    padding-bottom: 20px;
    gap: 10px;
}
.log-top{
    width: 450px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.contact-box-padding{
    border-radius: 18px;
    border: none;
    border: 1.5px solid rgb(203, 203, 203);
    padding: 10px 10px;
}

.box-padding{
    border: none;
    border: 1.5px solid rgb(203, 203, 203);
    padding: 10px 10px;
}
.box-padding-dob{
    border: none;
    border: 1.5px solid rgb(203, 203, 203);
    padding: 8px 10px;
    width: 100%;
    text-align: left;
}
.box-padding-gender{
    border: none;
    border: 1.5px solid rgb(203, 203, 203);
    padding: 8px 10px;
    width: 100%;
    text-align: left;
}
.gender-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.dob-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.reg-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.name{
    width: 100%;
}
.name-text{
    font-size: 23px;
    text-align: center;
}
.common-mobile-password{
    width: 100%;
}
.contact-name-common{
    width: 100%;
}
.gender-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

/* registration ends */

/* log in starts */
.or{
    width: 15rem;
    gap: 0px;
}
.or-text{
    flex: 0.1;
}
.line1{
    width: 4rem;
}
.log-box{
    border-radius: 15px;
}
/* log in ends */

/* contact starts */
textarea {
    resize: none;
}
.heretohelp{
    font-size: 14px;
    color: #a3a4a4;
}
.send-button{
    margin-bottom: 40px;
}
.contact-icon{
    margin-top: 10px;
    font-size: 22px;
    gap: 10px;
}
.contact-section{
    gap: 60px;
    /* background-color: rgb(235, 222, 188); */
}
.contact-left{
    height: 60vh;
    flex: 0.5;
    /* background-color: #f44720; */
}
.contact-right{
    height: 60vh;
    flex: 0.5;
    /* background-color: #06727a; */
}
.map-image{
    width: 50vh;
    Height: 50vh;
    border: 5px solid red;
}
.locatoin-pin{
    font-size: 22px;
    color: rgb(207, 9, 9);
}
.map-down{
    gap: 10px;
}
/* contact ends */

/* footer starts */
footer{
    height: 10vh;
    bottom: 0;

    font-size: 16px;
    color:white;
    background-color: var(--color1);
    width: 100%;
    /* position: fixed; */
    padding: 10px;
}
.footer-login{
    height: 10vh;
    bottom: 0;

    font-size: 16px;
    color:white;
    background-color: var(--color1);
    width: 100%;
    /* position: fixed; */
    padding: 10px;
}
#subscribe{
    border: none;
    padding: 3px;
    width: 200px;
}
.btn-subscribe:hover{
    background-color: var(--color5);
    color: white;
}
/* footer ends  */

/* responsiveness starts */
@media screen and (max-width: 992px) {
    body{
        /* background-color: rgb(238, 255, 0); */
    }
    
    .nav-upper{
        flex-direction: column;
        gap: 5px;
    }
    .nav-upper-list{
        gap: 20px;
    }
    .cart-and-profile{
        gap: 35px;
        flex-direction:row;
    }
    .content-side{
        margin-right: 6vh;
    }
    
    .contact-section{
        flex-direction: column;
    }
    .contact-main{
        margin-top: 18vh;
    }
    .register-main{
        margin-top: 12vh;
        margin-bottom: 1vh;
    }
    .profile-main{
        margin-top: 14vh;
    }
    .product-section{
        flex-direction: column;
    }
    .product-right{
        padding: 0vh;
    }
    
    .product-title{
        text-align: center;
        font-size: 20px;
        padding: 5px;
    }
    .stars{
        font-size: 20px;
        gap: 5px;
    }
    .sale{
        color: rgb(19, 230, 89);
        width: 660px;
        font-size: 45px;
    }
    .features{
        gap: 1rem;
    }
    .details{
        padding: 100px;
        row-gap: 50px;
    }
    .nav-lower-list{
        flex-direction: column;
    }
    .nav-lower-list{
        flex-direction: column;
        margin: 7px;
    }
    footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    body{
        /* background-color: rgb(0, 179, 255); */
    }

    .index-main-section{
        padding-right: 5vh;
    }
    .content-side{
        margin-right: 0px;
    }
    .action-part{
        gap: 0px;
    }
    .searchinput{
        width: 5px;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
    }
    .side-bar{
        flex: 1;       /* for column divisions  */
    }
    .content-side{
        flex: 2;       /* for column divisions  */
    }
    .product-title{
        text-align: center;
        font-size: 20px;
        padding: 5px;
    }
    .stars{
        font-size: 15px;
        gap: 5px;
    }
    .sale{
        color: rgb(19, 230, 89);
        width: 450px;
        font-size: 40px;
    }
    .article-item{
        width: 20vh;
        Height: 14vh;
    }
    .feature-icon{
        font-size: 60px;
    }
    .nav-lower-list{
        flex-direction: column;
        margin: 6px;
    }
    footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    body{
        /* background-color: red; */
        margin-right: 0;
    }
    .login-body{
        margin-bottom: -50px;
    }
    .footer-login{
        height: 10vh;
        bottom: 0;
    
        font-size: 16px;
        color:white;
        background-color: var(--color1);
        width: 100%;
        /* position: fixed; */
        padding: 10px;
    }
    .lower__list1{
        font-size: 38px;
    }
    .article-item{
        width: 20vh;
        Height: 13vh;
    }
    .index-main-section{
        padding-right: 10vh;
        padding-left: 10vh;
    }
    .register-main{
        margin-top: 2vh;
        margin-bottom: 1vh;
    }
    .profile-main{
        margin-top: 5vh;
        margin-bottom: 12vh;
    }
    .product-main{
        margin-top: 0vh;
        padding: 5vh;
    }
    .action-part{
        flex-direction: column;
        gap: 20px;
    }
    #sorting{
        width: 144px;
    }


    .side-bar{
        /* background-color: #C5C6C7; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 10px;
        margin-bottom: 25px;
    }
    .side-sections{
        background-color: bisque;
        padding: 25px;
        border-radius: 20px;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1rem;
        width: 100%;
    }
    .details{
        padding: 0;
        flex-direction: column;
        row-gap: 6px;
    }
    .sale{
        font-size: 25px;
        width: 250px;
    }
    .features{
        gap: 5px;
        flex-direction: column;
    }
    .head{
        margin-top: 7vh;
    }
    /* nav{
        margin-top: 30px;
    } */
    .nav-upper{
        height: 110px;
    }
    /* .nav-lower{
        margin-top: 258px;
    }
    .nav-upper-list{
        gap: 7px;
    } */

    /* menu-bar */
    #menu__bar{ 
        color: var(--color3);
        display: block;
        text-align: center;
    }
}
/* responsiveness ends */